h1 {
  font-family: 'Oleo Script', script;
  font-size: 3rem;
}

h2 {
  font-family: 'Bangers', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0a0a0a;
    font-weight: 600;
    font-size: 1.5rem;
}
p {
  font-family: 'Montserrat', sans-serif;
  color: #0a0a0a;
  font-weight: 400;

}

main#typography {
    margin-bottom: 75px;
}