body {
  display: block;
  max-width: 100%;
  text-align: center;
}

.logo {
  max-width: 150px;
  float: left;
  margin-left: 10px;
}

header {
  padding: 25px;
}

nav {
  background-color: #0a0a0a;
  text-align: center;
  box-shadow: 0 2px 15px gray;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: #fddd24;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

nav a:hover {
  background-color: #bb0d07;
  color: white;
}

h1.heading {
  font-size: 4em;
  font-family: 'Oleo Script', sans-serif;
  color: #fddd24;
  -webkit-text-stroke: 2px #bb0d07;
  text-shadow: 3px 0 #0a0a0a;
  text-align: center;
}

h1#top {
  font-family: "Bangers", script;
  color: #bb0d07;
  font-size: 3rem;
}
h2 {
  font-family: "Bangers", script;
}

main h2,
p {
  color: #0a0a0a;
}

main h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

main p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0 25px 50px 25px;
}

#logo {
  margin-bottom: 50px;

}

footer {
  background-color: #17e44c;
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 1em;
  padding: 5px;
  border: 2px solid #0a0a0a;
  border-radius: 15px;
}

footer p {
  margin: 0;
  padding: 10px;
}

/* start scootsPlanAud */

div {
  text-align: center;
}

div ul {
  display: inline-block;
  text-align: left;
  max-width: 550px;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 50px;
}
/* end scootsPlanAud */

/* start scootsPlanType */
 #typography h1 {
  font-family: 'Oleo Script', script;
  font-size: 3rem;
}

#typography h2 {
  font-family: 'Bangers', sans-serif;
}

#typography h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0a0a0a;
    font-weight: 600;
    font-size: 1.5rem;
}
#typography p {
  font-family: 'Montserrat', sans-serif;
  color: #0a0a0a;
  font-weight: 400;
}

main#typography {
    margin-bottom: 75px;
}
/* end scootsPlanType */



@media only screen and (min-width: 37.5em) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }
}