 header, footer {
     background-color: rgb(107, 172, 150);
     color: rgb(2, 58, 39);
     padding: 20px;
 }
 
 
 h1, h2, h3 {
    text-align: center;
 }
 img {
     max-width: 350px;
     margin-left: 20px;
     border-radius: 10px;
 }

 #cupcakes, #soap {
border: 2px solid black;
 }
 #sunscreen {
     border-top: 2px solid black;
     border-right: 1px solid black;
     border-bottom: 2px solid black;
 }
 .cupcakes, .soap, .sunscreen {
     
     margin: 25px 0 0 10px;
    
 }

 main h2 {
     
     color: rgb(17, 59, 17);
     background-color: rgb(187, 125, 125);
     padding: 10px;
 }
 

 main {
     background-color: rgb(226, 226, 204);
 }