.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}

img {
  width: 350px;
  height: 300px;
  margin: 0 0 0 30px; 
}
 p {
  text-align: center;
}

