#forecast div {
  background-color: paleturquoise;
  border: 1px solid;
  display: block;
  margin: 10px;
  padding: 10px;
}

div#forecast {
  /* background-color: paleturquoise; */
  /* padding: 50px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 50%; */
  /* border: 1px solid; */
  margin: 10px;
  text-align: center;
}

div#forecast p,
div#forecast span,
div#forecast img {
  /* display: block; */
  margin: auto;
  font-family: "Roboto, sans-serif";
  color: navy;
  /* padding: 0 75% 0 15%; */
  font-size: 1.3rem;
}

div#forecast span {
  border-bottom: 1px solid navy;

}

div#forecast p {
  padding: 10px 0 0;
}