/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em) {

  .logo img {
    width: 100%;
  }

  .headings h1 {
    font-size: 2rem;
  }

  .motto {
    letter-spacing: 1.5pt;
    font-size: 1.5rem;
    margin-left: 50px;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    /* needed because of state in small view */
    flex: 1 1 100%;
  }

  .navigation li a {
    color: #F7E449;
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  /* ------------------------------------------------- */
  /* 5 day forecast with heading */
  h5 {
    display: block;
    text-align: center;
    font-size: 2.1rem;
    font-family: "Roboto", sans-serif;
    color: navy;
    margin-bottom: 5px;
  }

  #forecast div {
    background-color: paleturquoise;
    border: 1px solid;
    display: block;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px #0343A2;
    border-radius: 10px;
  }

  div#forecast {
    margin: 10px;
    display: flex;
    justify-content: center;    
  }

  div#forecast p,
  div#forecast span,
  div#forecast img {
    margin: 10px 25px -10px;
    font-family: "Open Sans", sans-serif;
    color: navy;
    font-size: 1.3rem;
  }

  div#forecast span {
    border: navy 1px solid;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: palegoldenrod ;
    width: 100%;
    border-radius: 10px;
  }

  div#forecast p {
    text-align: center;
  }

  /* article image */
  p img {
    float: right;
    width: 200px;
    height: 200px;
  }

  /* map and contact section */
  .map {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .map img {
    display: grid;
    width: 250px;
    height: 200px;
    margin: 10px;
    grid-column: 1;
  }

  section.contact {
    grid-column: 2;
    text-align: center;
    align-self: center;
  }

  a .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-top: 15px;
  }
}