/* .help::before {
  content: '( ';
}
.help::after {
  content: ') ';
}
/* fieldset[title=fieldset2] > p + p {
  color: red;
} */
/* fieldset:nth-of-type(2)>p + p {
  color: blue;
}
div.help {
  color: red;
}
fieldset p:nth-of-type(n + 3) {
  display: none;
} */ 
input:required {
  background-color: #eeeeee;
}