/* beginning of small view */
body {
  padding: 0;
  margin: 0;
}

header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headings h1 {
  font-family: 'Oleo Script', script;
  font-size: 4rem;
  color: #fddd24;
  -webkit-text-stroke: 4px #bb0d07;
  text-shadow: 4px 0 #0a0a0a;
  text-align: center;
}

.logo img {
  width: 125px;
  height: auto;
}

.weathersum {
  text-align: center;
  color: #0a0a0a;
  display: block;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: radial-gradient(#fddd24, #bb0d07);
  box-shadow: 0 0 30px;
  border-radius: 10px;
  padding: .4rem;
  opacity: .9;
}

.weathersum h3 {
  border-bottom: 2px solid #bb0d07;
}

nav {
  background-color: #0a0a0a;
  margin: -15px auto;
  box-shadow: 0 2px 15px gray;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: #fddd24;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.navigation a:hover {
  color: white;
  background-color: #bb0d07;
  font-weight: 700;
}

/* the onclick JS toggles the .responsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
  */
.responsive li {
  display: block;
}

h2 {
  color: #bb0d07;
  font-family: Bangers, sans-serif;
  text-align: center;
  font-size: 1.85rem;
  margin: 50px 0 25px 0;
  font-weight: 500;
}

.rentVehicle {
  font-family: Montserrat, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  width: 75%;
  margin: 25px auto;
}

table {
  border-collapse: collapse;
  margin: 25px auto;
}

table#rentTable {
  width: 80%;
  text-align: center;
}

table#rentTable td,
table#rentTable th {
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: .75rem;
}

.rentContainer {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
}

.rentContainer img {
  display: block;
  margin: auto;
  border: 5px ridge;
  border-radius: 50px;
  box-shadow: 0 0 15px rgb(73, 73, 100);
  margin-bottom: 5px;
}

.rental figcaption {
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-weight: 600;
}

footer {
  display: block;
  background-color: #17e44c;
  justify-content: center;
  margin: 25px auto;
  width: 80%;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.2em;
  padding: 5px;
  border: 2px solid #0a0a0a;
  border-radius: 15px;
}

footer p {
  margin: 0;
  padding: 10px;
}

footer div {
  line-height: 35px;
}

footer div.address {
  line-height: 20px;
  font-size: 1.3rem;
}

.socialmedia .icon {
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px;
  margin: 35px auto;
}
/* end of small view */
/* ================================== */


/* begin medium view */
/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em) {

  .headings h1 {
    margin: 25px;
    font-size: 5rem;
  }

  .logo img {
    width: 150px;
    height: auto;
    display: block;
    margin-left: 100px;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    /* needed because of state in small view */
    flex: 1 1 100%;
  }

  .navigation li a {
    color: #fddd24;
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  table#rentTable td,
  table#rentTable th {
    font-size: 1rem;
  }

  .rentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    ;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* end medium view */

/* =================== */

/* begin large view */
@media only screen and (min-width: 64em) {

  header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 200px;
  }

  .headings h1 {
    margin: 35px;
    font-size: 6rem;
  }

  .weathersum {
    text-align: center;
    color: #0a0a0a;
    display: block;
    margin-left: 80px;
    font-family: "Montserrat", sans-serif;
    background: radial-gradient(#fddd24, #bb0d07);
    box-shadow: 0 0 30px;
    border-radius: 10px;
    padding: .4rem;
    opacity: .9;
  }

  table#rentTable {
    width: 70%;
  }

  .rentContainer {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
  }
}
/* end of large view */