@media only screen and (min-width: 64em) {
  .headings h1 {
    font-size: 3rem;
  }

  .motto {
    font-size: 2rem;
    margin-left: 120px;
  }

  /* home page ----------------*/
  section h2 {
    font-size: 3rem;
    text-align: center;
    margin: 25px 0 40px;
  }

  section h3 {
    font-size: 1.6rem;
    text-align: center;
    margin: -35px 0 50px;
  }

  .towns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }

  section p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 30px;
  }

  div section {
    display: block;
    margin: 0 auto;
    max-width: 335px;
    padding: 20px;
    margin-bottom: 50px;
    height: 575px;
  }

  section img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }

}