/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em) {

  .logo img {
    width: 100%;
  }

  .headings h1 {
    font-size: 2rem;
  }

  .motto {
    letter-spacing: 1.5pt;
    font-size: 1.5rem;
    margin-left: 50px;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    /* needed because of state in small view */
    flex: 1 1 100%;
  }

  .navigation li a {
    color: #F7E449;
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

/* home page section -----------------*/  
div h2 {
  display: block;
  font-size: 2.1rem;  
}

div h3 {
  font-size: 1.1rem;
  display: block;
  padding: 10px;
}

div p {
  font-size: 1.1rem;
}

div img {
  /* display: block; */
  float: left;
  /* margin: 0 auto;  */
  max-width: 310px; 
  border-radius: 10px;
  border: #0343A2 5px solid;
  box-shadow: 0 0 10px 5px gray;
  margin-bottom: 15px;
}

div section {
  /* display: flex; */
  /* flex-direction: row; */
  /* margin: 0 auto; */
  max-width: 750px;
  margin-top: 20px;
  padding: 10px;
}



}