/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em) {

  .logo img {
    width: 100%;
  }

  .headings h1 {
    font-size: 2rem;
  }

  .motto {
    letter-spacing: 1.5pt;
    font-size: 1.5rem;
    margin-left: 50px;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    /* needed because of state in small view */
    flex: 1 1 100%;
  }

  .navigation li a {
    color: #F7E449;
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  
  .towns {
    display: grid;
    grid-template-columns:  1fr 1fr;
    max-width: 600px;
    margin: .5rem auto;
  }


  section:nth-child(odd) img {
    grid-column: 2;
  }

  section:nth-child(odd) {
    grid-column: 1;
    grid-row: 1;
  }

  section img {
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
  }



}