body {
  background-color: #CFEFF6;
  padding: 0;
  margin: 0;
}

#eventMessage {
  background-color: rgb(248, 243, 193);
  color: navy;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  line-height: 1.6;
}

header {
  background-color: #10BBCC;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo img {
  width: 125px;
  height: auto;
  border: 2px solid #0343A2;
  border-radius: 50%;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  font-size: 1.65rem;
  margin: 0 0 0 17px;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  color: #0343A2;
}

.motto {
  font-style: italic;
  letter-spacing: 1pt;
  color: navy;
  margin-left: 35px;
  font-size: 1.5rem;
}

nav {
  margin: -15px auto;
  background-color: #0343A2;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: #F7E449;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.navigation a:hover {
  color: #0343A2;
  background-color: paleturquoise;
  font-weight: 700;
}

/* the onclick JS toggles the .responsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
  */
.responsive li {
  display: block;
}

h2 {
  text-align: center;
  margin: 50px 0 30px 0;
  color: #0343A2;
  font-family: Roboto, sans-serif;
  font-size: 1.75rem;
}

form fieldset {
  margin: 2rem 3.5rem;
  border: 1px solid #0343A2;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: #0343A2;
  margin: 0 1rem;
  padding: 0 .5rem;
  font-family: "Open Sans", sans-serif;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

form label.top input,
form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 2px navy;
  border-radius: 6px;
  padding: .75rem;
  color: #555;
  width: 96%;
  max-width: 20rem;
  background-color: paleturquoise;
}

form label.info {
  display: block;
  padding: .6rem 0;
  color: #0343A2;
}

/* radio button label */
form .info {
  font-family: "Open Sans", sans-serif;
}

h4 {
  font-family: "Open Sans", sans-serif;
  color: #9c2c13;
  margin-bottom: -1px;
}

form textarea {
  font-family: "Open Sans", sans-serif;
  color: #9c2c13;
  background-color: paleturquoise;
  border: solid 2px navy;
  border-radius: 6px;
  margin-top: 35px;
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 0 5rem;
  width: 100%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/*Storm thanks*/
h2.thanks {
  text-align: center;
}

p#thanks {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  margin: 25px 100px;
  color: #0343A2;
}

footer {
  background-color: #10BBCC;
  color: navy;
  margin: 15px auto;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  max-width: 90%;
}