@media only screen and (min-width: 60em) 
{
   .headings h1 {
    font-size: 3rem;
  }
  .motto {
    font-size: 2rem;
    margin-left: 120px;
}
.herocontainer {
  width: 900px;
  }
  .article {
    width: 900px;  
    }
    p img {
      float: right;
      width: 250px;
      height: 250px; 
      margin: -35px 10px 10px;     
    }
}