table {
    margin: auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}
th {
    background-color: lightgrey;
}

#prim {
    background-color: #0343A2;
    color: white;
}

#sec {
    background-color: #10BBCC
}

#acc1 {
    background-color: #CFEFF6
}

#acc2 {
    background-color: #F7E449
}

h1,
h2 {
    color: #0343A2;
    text-align: center;
}

ul,
table {
    font-family: "Open Sans", sans-serif;
    color: #0343A2;
}