
h1,
h2,
h3,
p {
    text-align: center;
    color: #0343A2;
}

div {
    text-align: center;
}

div ul {
    display: inline-block;
    text-align: left;
    max-width: 550px;
    list-style-type: none;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 50px;
}
